<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b>Selecionar nome:</b></font>
        <%= collection_select :unidade, :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca1"  %>
          <%= observe_field 'unidade_unidade_id',
               :update => "unidades",
               :url    => { :action => 'lista_unidade_nome' },
               :with   => 'unidade_unidade_id' %>

         
     </td>
   </tr>
  </table>

