<table width="100% ">
           <tr>

                <td><b><b>Professor(Falta): </b>
                    <%= collection_select :aulas_eventual, :faltante, @prof_falta, :nome, :nome, :include_blank => ' -- Selecionar -- ' %>
                </td>

          </tr>

</table>




