<div id="interno3">
<% title "ATRIBUICAO" %>
  <div class ="tabs">


  <fieldset><legend><font size=4>LANÇAMENTOS NOTAS/FALTAS HISTÓRICO</font></legend>
    <table width="100%">
       <tr bgcolor="#F5F5F5">
         <td width =" 12%"><b>RA:</b></td>
         <td>TESTE</td>
         <td width =" 12%"><b>Aluno:</b></td>
         <td>TESTE</td>
      </tr>

    </table>
  </fieldset>

</div>
<br/><br/>

