<table width="100%">
           <tr>
            <td width ="15%"><b>Aluno: </b></td><td><%= collection_select  :transferencia, :aluno_id, @alunos, :id, :aluno_nome, :include_blank => ' --- Selecione opção ---'  %></td>
          </tr>
          <tr>
            <td width ="15%"><b>Classe: </b></td><td><%= collection_select  :transferencia, :classe_id, @classes, :id, :classe_classe, :include_blank => ' --- Selecione opção ---'  %></td>
          </tr>
</table>




