<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca2"> Unidade:</b></font>
         <%= collection_select :crianca, :unidade_id, @unidades1, :id, :nome, :include_blank => ' -- Selecionar -- ', :class=> "txt_busca2"  %>
         <%= observe_field 'crianca_unidade_id',
               :update => "criancas",
               :url    => { :action => 'classificao_unidade_status' },
               :with   => 'crianca_unidade_id' %>
     </td>
   </tr>
  </table>
