<table width="100%">
           <tr>
             <td width ="15%" align="right"><b>Discipĺina: </b>&nbsp
              <%= select_tag :disciplina_id, options_for_select(@disciplina_classe.collect { |ff| [ff.disciplina, ff.id] }.insert(0, '--Selecionar--')) %> &nbsp&nbsp</td>


          </tr>

</table>




