<% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('pedagogo')    ) %>
     <%#@nome = Conteudo.find(:all, :joins => [:professor],:select => 'distinct(professors.nome) as nome_nome, professors.id',  :conditions =>['conteudos.ano_letivo=?', Time.now.year  ],:order => 'professors.nome')%>
     <%@nome = Conteudo.find(:all, :joins => [:professor, :classe],:select => 'distinct(professors.nome) as nome_nome, professors.id',  :conditions =>['conteudos.ano_letivo=? and   (classes.classe_classe="PEDAGOGO" or classes.classe_classe="SUPERVISÃO" or classes.classe_classe="DIRECAO FUNDAMENTAL" or classes.classe_classe="DIRECAO INFANTIL" or classes.classe_classe="COORDENADOR")', Time.now.year  ],:order => 'professors.nome')%>
    
<%  else if (current_user.has_role?('direcao_fundamental') or current_user.has_role?('direcao_infantil') ) %>
        <%@nome = Conteudo.find(:all, :joins => [:professor],:select => 'distinct(professors.nome) as nome_nome, professors.id',  :conditions =>['conteudos.ano_letivo=? AND conteudos.unidade_id=? ', Time.now.year, current_user.unidade_id  ],:order => 'professors.nome')%>
     <%else%>
         <%@nome = Conteudo.find(:all, :joins => [:professor, :classe],:select => 'distinct(professors.nome) as nome_nome, professors.id',  :conditions =>['conteudos.ano_letivo=? AND conteudos.unidade_id=? and   (classes.classe_classe="PEDAGOGO" or classes.classe_classe="SUPERVISÃO" or classes.classe_classe="DIRECAO FUNDAMENTAL" or classes.classe_classe="DIRECAO INFANTIL"or classes.classe_classe="COORDENADOR")', Time.now.year, current_user.unidade_id  ],:order => 'professors.nome')%>
     <%end%>

<%end%>
<table width="100%" align="center">
   <tr>
     <td  align="right"><font size="2"><b>Nome:</b></font>
          &nbsp&nbsp&nbsp<%= select_tag :professor, options_for_select(@nome.collect { |ff| [ff.nome_nome, ff.id] }.insert(0, '--Selecionar--')) %>
          &nbsp&nbsp&nbsp <%= submit_tag "Visualizar", :class => "btn_filtrar" %>

     </td>
     <td>
       
     </td>

   </tr>
  </table>

