<% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('pedagogo')) %>
     <%@unidades = Conteudo.find(:all, :joins => [:unidade, :professor],:select => 'distinct(unidades.nome), unidades.id',  :conditions =>['conteudos.ano_letivo=?', Time.now.year],:order => 'professors.nome')%>
<%else%>
     <%@unidades = Conteudo.find(:all, :joins => [:unidade, :professor],:select => 'distinct(unidades.nome), unidades.id',  :conditions =>['conteudos.ano_letivo=? AND conteudos.unidade_id=?', Time.now.year, current_user.unidade_id],:order => 'professors.nome')%>
<%end%>
<table width="100%" align="center">
   <tr>
     <td  align="right"><font size="2"><b>Unidade:</b></font>
          &nbsp&nbsp&nbsp<%= select_tag :unidade_cont, options_for_select(@unidades.collect { |ff| [ff.nome, ff.id] }.insert(0, '--Selecionar--')) %>
          &nbsp&nbsp&nbsp <%= submit_tag "Visualizar", :class => "btn_filtrar" %>

     </td>
     <td>
       
     </td>

   </tr>
  </table>

