<% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('pedagogo')) %>
     <%@nome = Conteudo.find(:all, :joins => [:professor],:select => 'distinct(professors.nome) as nome_nome, professors.id',  :conditions =>['conteudos.ano_letivo=?', Time.now.year  ],:order => 'professors.nome')%>
<%else%>
      <%@nome = Conteudo.find(:all, :joins => [:professor, :classe],:select => 'distinct(professors.nome) as nome_nome, professors.id',  :conditions =>['conteudos.ano_letivo=? AND conteudos.unidade_id=?', Time.now.year, current_user.unidade_id  ],:order => 'professors.nome')%>
<%t=0%>
<%end%>
<table width="100%" align="center">
   <tr>
     <td  align="right"><font size="2"><b>Nome:</b></font>
          &nbsp&nbsp&nbsp<%= select_tag :professor, options_for_select(@nome.collect { |ff| [ff.nome_nome, ff.id] }.insert(0, '--Selecionar--')) %>
          &nbsp&nbsp&nbsp <%= submit_tag "Visualizar", :class => "btn_filtrar" %>

     </td>
     <td>
       
     </td>

   </tr>
  </table>

