<table width="100%"  >
   <tr>
     <td   align="right"><font size="2"><b>Atuação:</b></font>
          <%= select_tag :atuacao, options_for_select(["PEDADOGO", "SUPERVISÃO", "COORDEMADOR", "DIRETOR FUNDAMENTAL" ,"DIRETOR INFANIL"]) %>
                            <%= observe_field 'atuacao',
                          :with => :atuacao,
                          :url => { :action => 'atuacao' },
                          :update => "classe_disciplina" %>
    </td>
     

          <td width="5%"> <%= submit_tag "Visualizar", :class => "btn_filtrar" %>

     </td>



   </tr>
  </table>

