<table width="100%"  >
   <tr>
     <td   align="right"><font size="2"><b>Atuação:</b></font>
          <%= select_tag :atuacao_ed, options_for_select(["---SELECIONAR---", "PEDAGOGO", "SUPERVISÃO", "COORDENADOR", "DIREÇÃO FUNDAMENTAL" ,"DIREÇÃO INFANTIL"]) %>
                            <%= observe_field 'atuacao_ed',
                          :with => :atuacao_ed,
                          :url => { :action => 'atuacao_ed' }
                           %>
    </td>
     

          <td width="5%"> <%= submit_tag "Visualizar", :class => "btn_filtrar" %>

     </td>



   </tr>
  </table>

