
<table width="100%" align="center" >
   <tr>
     <td  widht="10%" align="right"><font size="2"><b>Classe:</b></font>
          &nbsp&nbsp&nbsp<%= select_tag :classe_id, options_for_select(@classe_ano.collect { |ff| [ff.classe_unidade, ff.id] }.insert(0, '--Selecionar--')) %>
          &nbsp&nbsp&nbsp <%= submit_tag "Visualizar", :class => "btn_filtrar" %>

     </td>


   </tr>
  </table>

