<div id="interno2">
<% title "FAPEA", :id =>"FAPEA" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>EXCLUSÃO DE REGISTRO</strong></font><br/>
   </div>
  <div class="tabs">
    
      <table width="100%" align="center" bgcolor="#DCDCDC" >
       <tr bgcolor="#F5F5F5">
         <td colspan="4" align="center"><font size="3" color="red"><br/><strong>REGISTRO EXCLUIDO</strong><br/></font><br/></td>
        </tr>


  <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>

    </tr>
  </table>
 </div>
 </div>
  <br/>
</div>



