
<div id="interno2">
<% title "GRAFICO_TOTAL".singularize %>
<div class="tabs">
  <table bgcolor="#DCDCDC" width="70%" align="center">
  <tr bgcolor="#DCDCDC" >
      <td colspan="2">
         <div id="caixa_titulo">
             <font size="3"><strong>DEMANDA GERAL</strong></font><br/>
         </div>

      </td>
    </tr>
    <tr>
       
              <% if @static_graph.present?%>

      <td colspan="2" align="center" ><div class="tela"><%= @static_graph%></div></td>
              <%end%>

            </tr>
            <tr>
             
                   
                  <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                  <td><b><%= link_to image_tag("/stylesheets/images/imprimir12.png"), onclick="javascript:MM_openBrWindow('#{impressao_geral_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>

             
            </tr>
          </table>
<% session[:geral] = 0 %>
    </div>
</div>
<br/>

