<div id="interno2">
<% title "GRAFICOS".singularize %>
<div class="tabs">
 <table bgcolor="#DCDCDC" width="70%" align="center">
  <tr bgcolor="#DCDCDC" >
      <td colspan="2">
         <div id="caixa_titulo">
             <font size="3"><strong>GRÁFICOS ESTATÍSTICOS</strong></font><br/>
         </div>

      </td>
    </tr>
    
    <tr>
      <td>
        <fieldset>
          <table width="100%">
            <tr >
              <td align="center"><br/><br/><br/><%= button_to "Demanada Geral", grafico_geral_path%><br/><br/><br/> </td>
              <td align="center"><br/><br/><br/><%= button_to "Demanda por Unidade", grafico_geral_path%><br/><br/><br/> </td>
            </tr>
          </table>
        </fieldset>
      </td>
     </tr>

      <tr>
         <td colspan="2"align="left" >
 <fieldset>
        <%= button_to 'Fechar', home_path, {:method => "get"}  %>
 </fieldset>
      </td>

      </tr>
   </table>

    </div>
</div>
<br/>
