       <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td colspan="2"align="right"><font size="2"> <b class="label_busca3">Professor ou Responsável:</b></font>
               &nbsp&nbsp&nbsp
                <%= collection_select :professor, :id, @professors, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
                         <%= observe_field 'professor_id',
                        :update => "relatorio",
                        :url    => { :action => 'relatorio_aluno_professor' },
                        :with   => 'professor_id' %>
          </td>
        </tr>
       </table>

