<table width="100%" align="center" bgcolor="#DCDCDC"  >
         <%  @ano_boletim =   Classe.find(:all,:select => 'distinct(classe_ano_letivo) as ano',:order => 'classe_ano_letivo DESC')%>
          <tr>
            <td align="right"><font size="2"> <b class="label_busca3">Ano Letivo:</b></font>
             <%= select_tag :ano_letivo, options_for_select(@ano_boletim.collect { |ff| [ff.ano, ff.ano] }.insert(0, '--Selecionar--')) %>
                     <%= observe_field 'ano_letivo',
                          :with => :ano_letivo,
                          :url => { :action => 'classes_ano' },
                          :update => "classes_ano" %>
            </td>
            <td width="60%" align="right"><font size="2"> </font>

               <div id="classes_ano"> <b class="label_busca3">Classe:</b><font color="red">&nbsp&nbsp&nbsp&nbsp<b></u>&nbsp Selecionar  primeiro o ano</b></font> </div>

          </td>

          <td align="right">
            <%= submit_tag "Visualizar", :class => "btn_filtrar" %>
          </td>
        </tr>






         
        </tr>
       </table>


