 <%@alunos_boletim=Matricula.find(:all,:select=>"alunos.aluno_nome, alunos.id",:joins=> "left join alunos ON alunos.id=matriculas.aluno_id",:conditions=>["matriculas.unidade_id=? AND matriculas.ano_letivo=?",current_user.unidade_id,Time.now.year],:order => 'alunos.aluno_nome ASC')%>
 <table width="100%"  >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b>Aluno:</b></font>
        <%= collection_select :aluno, :aluno_id, @alunos_boletim, :id, :aluno_nome, :include_blank => ' -- Selecione -- ' %>
          <%= observe_field 'aluno_aluno_id',
               :update => "relatorio",
               :url    => { :action => 'relatorio_aluno_nome' },
               :with   => 'aluno_aluno_id' %>
         
     </td>
   </tr>
  </table>

