<table width="100%">
           <tr>
             <td width ="15%" align="left"><b>&nbsp&nbsp Classe: </b>&nbsp

             <%= collection_select :classe_mapa, :id, @classe_ano, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %></td>

          </tr>

</table>




