<div id="interno3">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ATRIBUIÇÃO</strong></font><br/>
 </div>
      <div class="tabs">


        <fieldset><legend><font size=4></font></legend>
        <table>
            <tr>
              <td ><font color ="red" size ="4"><b><u>ATENÇÃO:</u> <br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ESTA ATRIBUIÇÂO NÃO PODE SER EXCLUIDA, <br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp POIS JÀ EXISTEM OUTROS DADOS ASSOCIADOS À ELA.</b>        <font>
                    
                    </td>
            </tr>

         </table>
         </fieldset>
        <table width="100%">
           <tr>
              
             

             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
          
        </table>

    </div>
</div>
<br/>
</div>