<div id="interno3">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>LANÇAMENTOS</strong></font><br/>
 </div>
      <div class="tabs">
        <center>
            <fieldset><legend><font size=4>Lançamentos</font></legend>
              <table>
                <tr>
                  <td ><font color ="red" size ="4"><b><u>ATENÇÃO:</u> É necessario lançar o número da <br/>
                             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp aulas dadas durante o bimestre .
                        <br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp PARA CONTINUAR, FAVOR FAZER O <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp LANÇAMENTO DAS AULAS DADAS.</b>        <font></td>
                        <td align="right" valign="bottom"><%= link_to image_tag("/stylesheets/images/lancar1.png"),{:action => "edit", :controller => :atribuicaos, :id => session[:atrib]}, :method => "get", :title => "Editar" %> </td>
                </tr>

             </table>
             </fieldset>
        </center>
        <table width="100%">
           <tr>
              

             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>