<div id="interno2">
<% title "CONSULTA_FICHA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>TRANSFERÊNCIA DE ALUNO</strong></font><br/>
 </div>
    <div class="tabs">
    <% form_remote_tag :url => transferencia_aluno_atribuicaos_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
      <fieldset>
        <table width="100%" align="center" bgcolor="#DCDCDC" >
             <tr>
               <td colspan="2"align="right"><font size="2"> <b>Nome:</b></font>
                 <%@alunosT=Matricula.find(:all,:select=>"alunos.aluno_nome, alunos.id",:joins=> "left join alunos ON alunos.id=matriculas.aluno_id",:conditions=>["matriculas.unidade_id=? AND matriculas.ano_letivo=?",current_user.unidade_id,Time.now.year],:order => 'alunos.aluno_nome ASC')%>
                  <%= collection_select :aluno, :aluno_id, @alunosT, :id, :aluno_nome, :include_blank => ' -- Selecione -- ' %>
              </td>
              <td align="right"> <%= submit_tag "Visualizar", :class => "btn_filtrar" %></td>
             </tr>

       </table>
     </fieldset>
     <fieldset>
        <table border="1" cellspacing="0" cellpadding="1" width="100%"bgcolor="#F5F5F5">
          <tr>
            <td>
                <div id="transferencia"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
              <br/>
            </td>
          </tr>
       </table>
          <% end %>

      </fieldset>

       <br/>
       <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     

    </tr>
  </table>
 </div>



</div>

<br/>
</div>









