<div id="interno3">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MATRICULA ALUNO</strong></font><br/>
 </div>
      <div class="tabs">


        <fieldset><legend><font size=4>Matrícula Aluno</font></legend>
        <table>
            <tr>
              <td ><font color ="red" size ="4"><b><u>ATENÇÃO:</u> Antes de matricular os alunos na classe, certifique-se que TODOS os professores já foram atribuidos às classes.
                    <br/> NÃO MATRICULAR OS ALUNOS ANTES QUE TODOS OS PROFESSORES NÃO ESTEJAM ATRIBUIDOS ÀS CLASSES.</b>        <font></td>
            </tr>

         </table>
         </fieldset>
        <table width="100%">
           <tr>
              

             <td width =" 10%"><%= button_to 'MATRICULAR', new_matricula_path %> </td> 
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>