<div id="interno3">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MATRICULA ALUNO</strong></font><br/>
 </div>
      <div class="tabs">


        <fieldset><legend><font size=4>Matrícula Aluno</font></legend>
        <table>
            <tr>
              <td ><font color ="red" size ="4"><b><u>ATENÇÃO:</u> <br/>1) NÃO HÁ PROFESSOR / DISCIPLINA ATRIBUIDO PARA ESTA CLASSE.<font>
                      <font color ="blue" size ="4"> <br/>2) Antes de matricular os alunos na classe, certifique-se que TODOS os professores já foram atribuidos às classes.
                    <br/>3) NÃO MATRICULAR OS ALUNOS ANTES QUE TODOS OS PROFESSORES NÃO ESTIVEREM ATRIBUIDOS ÀS CLASSES.</b>        <font></td>
            </tr>

         </table>
         </fieldset>
        <table width="100%">
           <tr>

             
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>