<table width="100%"  >
    <!-- Substitui o trecho abaixo deste comentário pelo if que está em seguida neste código
    aparentemente tinha uma duplicidade desnecessária, mantendo por segurança caso eu
    não tenha entendido ou percebido alguma diferença ou a necessidade
    ###Alex 2017-10-24 11:05
    <%#  if (current_user.unidade_id == 53 or current_user.unidade_id == 52) then %>
        <%# if current_user.has_role?('admin') %>
            <%# @alunos1 = Aluno.find(:all,:select => "id, aluno_nome", :order => 'aluno_nome ASC' ) %>
        <%#  else %>
            <%# @alunos1 = Aluno.find(:all, :conditions => ['unidade_id =?',current_user.unidade_id],:order => 'aluno_nome ASC' ) %>
        <%#  end %>
    <%#  else %>
        <%# if current_user.has_role?('admin') %>
            <%# @alunos1 = Aluno.find(:all,:select => "id, aluno_nome", :order => 'aluno_nome ASC' ) %>
            <%# @alunos1 = Aluno.find(:all,:select => "id, aluno_nome", :order => 'aluno_nome ASC' ) %>
        <%#  else %>
            <%# @alunos1 = Aluno.find(:all, :conditions => ['unidade_id =?',current_user.unidade_id],:order => 'aluno_nome ASC' ) %>
            <%# @alunos1 = Aluno.find(:all, :conditions => ['unidade_id =?',current_user.unidade_id],:order => 'aluno_nome ASC' ) %>
        <%#  end %>
    <%# end %>
    -->
    <%if current_user.has_role?('admin')%>
        <%@alunos1 = Aluno.find(:all,:select => "id, CONCAT(aluno_nome, ' | ',date_format(aluno_nascimento, '%d/%m/%Y')) AS aluno_nome_dtn", :order => 'aluno_nome ASC' ) %>
    <%else%>
        <%@alunos1 = Aluno.find(:all,:select => "id, CONCAT(aluno_nome, ' | ',date_format(aluno_nascimento, '%d/%m/%Y')) AS aluno_nome_dtn",:conditions => ['unidade_id =?',current_user.unidade_id], :order => 'aluno_nome ASC' ) %>
    <%end%>
    <tr>
        <td colspan="2"align="right"><font size="2"> <b>Nome:</b></font>
            <%t0=0%>
            <%= collection_select :aluno, :aluno_id, @alunos1, :id, :aluno_nome_dtn, :include_blank => ' -- Selecione -- ' %>
            <%= observe_field 'aluno_aluno_id',
               :update => "ficha",
               :url    => { :action => 'nome_classe' },
               :with   => 'aluno_aluno_id' %>
        </td>
    </tr>
</table>

