       <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td colspan="2"align="right"><font size="2"> <b class="label_busca3">Aluno RM:</b></font>
               &nbsp&nbsp&nbsp
                <%= collection_select :aluno, :aluno_rm, @alunosRM, :id, :aluno_rm, :include_blank => ' -- Selecione -- ' %>
                      <%= observe_field 'aluno_aluno_rm',
                        :update => "ficha",
                        :url    => { :action => 'lista_aluno_rm' },
                        :with   => 'aluno_aluno_rm' %>
          </td>
        </tr>
       </table>

