<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca3">
     ccc
     
         <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
     </td>
   </tr>
  </table>

