<div id="interno2">
<% title "CONSULTA_FICHA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>FICHA CADASTRAL DE ALUNO</strong></font><br/>
 </div>
    <div class="tabs">
     
       <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td><b> Aluno:</b><%= collection_select :aluno, :pessoa_id, @pessoas_aluno, :id, :pessoa_nome, :include_blank => ' -- Selecione -- ' %>
               <%= observe_field 'aluno_pessoa_id',
               :frequency => 0.2,
               :with => :aluno_pessoa_id,
               :url => { :action => 'ficha_cadastral' } ,
               :update => "dados_aluno"%>
             
          </td>
        </tr>
       </table>

       <table width="100%"frame="box" rules="all" bgcolor="#F5F5F5">

          <tr>
            <td>
                <div id="dados_aluno"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
              <br/>
            </td>
          </tr>

       </table>




       <br/>
  <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     
    </tr>
  </table>
 </div>



</div>

<br/>
</div>









