body {
	padding:0;
	background-color:white;

    }



.tabelas {
  border: solid 3px #000000;
  border-collapse: collapse;

}

.tabelas th {
  font-size:13px;
  color: #000;
  background-color: #bebebe;
  padding: 4px 8px;
  padding-bottom: 4px;
  text-align: center;
;
}

.tabelas td {
  padding: 4px 8px;
}

.tabelas h1 {
    background-color: #404C99;
}
  select.lista_assuntos {
   width:330px;
   height: 100px;
  }
  select.lista_autores {
   width:330px;
   height: 100px;
  }

  select.lista_musicas {
   width:300px;
   height: 100px;
  }
  select.lista_dpus {
   width:350px;
   font-size: medium;
   height: 100px;
  }

  select.lista_cantores {
   width:300px;
   height: 100px;
  }

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
#container {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
#colCentral {
	background:#22232F;
	color:#991;
	padding:2px 10px;
	text-align:justify;
	border-bottom:1px solid #666;
    height: 550px;    
    overflow: auto;
    border: 1px solid #666;
    background-color: #ccc;
    padding: 8px;
}
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

#tooltip.pretty {
	font-family: Arial;
	border: none;
	width: 210px;
	padding:20px;
	height: 135px;
	opacity: 0.8;
	background: url(images/shadow.png);
}
#tooltip.pretty h3 {
	margin-bottom: 0.75em;
	font-size: 12pt;
	width: 220px;
	text-align: center;
}
#tooltip.pretty div { width: 220px; text-align: left; }

#tooltip.fancy {
	background: url(images/shadow2.png);
	padding-top: 5em;
	height: 100px;
}
#tooltip.fancy.viewport-right {
	background: url(images/shadow2-reverse.png);
}

.botao3d a { color: white;

    }

.botao3d a:visited { color: white; }

.botao3d a {
    text-decoration:none;
}

.botao3d{
        font-size:14px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        background-color:#a9b9c2;
        border:0px;
        text-decoration:none;
        display:inline;
        border-top: gray 1px solid;
        border-right: gray 1px solid;
        border-bottom: gray 1px solid;
        border-left: gray 1px solid;

       }
.botao3d:hover{
        font-size:14px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background-color:#646566;
        border:0px;
        width:100px;
        height:19px;
        text-decoration:none;
        display:inline;
        border-top: #FF8585 1px solid;
        border-right: #410000 1px solid;
        border-bottom: #410000 1px solid;
        border-left: #FF8585 1px solid;
    }
