<table width="100%" align="center">
   <tr>
   <tr>
     <td  align="right"><font size="2"><b>Nome Aluno:</b></font>
               &nbsp&nbsp&nbsp<%= select_tag :aluno, options_for_select(@alunos2.collect { |ff| [ff.aluno_nome, ff.id] }.insert(0, '--Selecionar--')) %>
     </td>
     <td>
       
     </td>

   </tr>
   <tr>
    <tr>
      <td align="right"><font size="2"><b>Disciplina:</b></font>
               &nbsp&nbsp&nbsp<%= select_tag :disciplina, options_for_select(@disciplinas.collect { |ff| [ff.disciplina, ff.id] }.insert(0, '--Selecionar--')) %>
     </td>
     <td align="center">
               <font size="2"><b>Ano Letivo:</b></font>
               <%= select_tag :ano_letivo, options_for_select(@ano.collect { |ff| [ff.ano, ff.ano] }.insert(0, '--Selecionar--')) %>
               &nbsp&nbsp&nbsp <%= submit_tag "Visualizar", :class => "btn_filtrar" %>
     </td>
   </tr>
   </tr>
  </table>

