<table width="100%" align="center">
   <tr>
     <td  align="right"><font size="2"><b>Aluno(a):</b></font>
          &nbsp&nbsp&nbsp<%= select_tag :aluno_fapea, options_for_select(@alunosRel.collect { |ff| [ff.aluno_nome, ff.id] }.insert(0, '--Selecionar--')) %>
          &nbsp&nbsp&nbsp <%= submit_tag "Visualizar", :class => "btn_filtrar" %>

     </td>
     <td>
       
     </td>

   </tr>
  </table>

