      <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td align="right"><font size="2"> <b class="label_busca3">Ano Letivo:</b></font>
             <%= select_tag :ano_letivo, options_for_select(@ano.collect { |ff| [ff.ano, ff.ano] }.insert(0, '--Selecionar--')) %>
                     <%= observe_field 'ano_letivo',
                          :with => :ano_letivo,
                          :url => { :action => 'fapea_ano' },
                          :update => "fapea_ano" %>
            </td>
            <td width="50%" align="right"><font size="2">
                  <div id="fapea_ano"> <b class="label_busca3">Aluno(a):</b><font color="red">&nbsp&nbsp&nbsp&nbsp<b></u>&nbsp Selecionar primeiro o ano</b></font> </div>
          </td>

          <td align="right">
            <%= submit_tag "Visualizar", :class => "btn_filtrar" %>
          </td>
        </tr>
      </table>