<table width="100%"  >
  <tr r bgcolor="#F5F5F5">
    <td width="9%"><b>Pai:</b></td>
    <td width="50%" ><%=h @aluno[0].aluno_pai%></td>
    <td width="9%"><b>Mae:</b></td>
    <td><%=h @aluno[0].aluno_mae%></td>
  </tr>
</table>
