<table width="100% ">
  <% if session[:professor] == 1 %>
      <%if  @professores.present?%>
         <tr>
             <td align="left"><b> Professor: </b>&nbsp&nbsp <%= collection_select :aulas_falta, :professor_id, @professores, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
         </tr>
     <%else%>
        <tr>
             <td align="left"><b> &nbsp&nbsp NÃO há Professor cadastrado para esta unidade </b></td>
         </tr>

     <%end%>
     
  <%end%>
  <%if  session[:funcionario] == 1 %>
     <%if  @funcionarios.present?%>
         <tr>
             <td align="left"><b> Funcionario: </b><%= collection_select :aulas_falta, :funcionario_id, @funcionarios, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
         </tr>
     <%else%>
        <tr>
             <td align="left"><b> &nbsp&nbsp NÃO há Funcionario cadastrado para esta unidade </b></td>
         </tr>

     <%end%>
     
  <%end%>
 

</table>




