

    <div id="interno2">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo"  class ="invisible_to_print ">
     <font size="3"><strong>AGENDA DE FALTAS - POR RESPONSÁVEL</strong></font><br/>
 </div>
    <table width="100%"  bgcolor="#DCDCDC"  style= "border-color: white" >
      <tr  class ="invisible_to_print ">
          <th colspan="3" width="95%" align="right ">

               <% form_for @search ,:url => { :action => 'index2' } do |f|%>


                 <font size="3"> Responsável:</font>
                 <%= f.collection_select :professor_id_equals, @professores_faltas, :id, :nome, :include_blank => true%>
                 <%= f.submit "Visualizar", :class => "btn_filtrar" %>
              <% end %>

         </th>
       </tr>
       <tr bgcolor="#F5F5F5">
           <th colspan="3" align="right">
                <%= render :partial => "calendar2" %>
               <%t=0%>

          </th>
       </tr>

    </table>

</div>
<br/>
</div>