
<div id="interno2">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo" class ="invisible_to_print ">
     <font size="3"><strong>AGENDA DE FALTAS - POR UNIDADE</strong></font><br/>
 </div>
    <table width="100%"  bgcolor="#DCDCDC"  style="border-color: white" >
      <tr  class ="invisible_to_print ">
          <th colspan="2" width="95%" align="right ">

               <% form_for @search do |f| %>

                 <font size="3"> Unidade:</font>
                 <%= f.collection_select :unidade_id_equals, @unidades_infantil, :id, :nome, :include_blank => true%>
                 <%= f.submit "Visualizar", :class => "btn_filtrar" %>
              <% end %>


         </th>
       </tr>
       <tr bgcolor="#F5F5F5">
           <th colspan="3" align="right">
                <%= render :partial => "calendar" %>
               <%t=0%>

          </th>
       </tr>
       <tr> <td> <br/></td> </tr>
   </table>

</div>
<br/>
</div>



