<p>
  <b>Classe:</b>
  <%=h @professors_class.classe_id %>
</p>

<p>
  <b>Professor:</b>
  <%=h @professors_class.professor_id %>
</p>


<%= link_to 'Edit', edit_professors_class_path(@professors_class) %> |
<%= link_to 'Back', professors_classes_path %>