<div id="interno1">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ATENÇÂO - ATENÇÂO  -ATENÇÂO -  ATENÇÂO -  ATENÇÂO - ATENÇÂO  -ATENÇÂO -  ATENÇÂO -  ATENÇÂO</strong></font><br/>
 </div>
      <div class="tabs">
    <table width="100%" align="center"  bgcolor="#F5F5F5" >
      <tr>
        <td align="center"><br/>
          <Font size="4"> <b>Desculpe o transtorno, estamos em manutenção , tente novamente mais tarde.</font></b>
        </td>
      </tr>
        <tr>
          <td align="center">
            <div id="fora_do_ar"></div>
          </td>
        </tr>
      <tr>
        <td>
          <%= button_to 'Fechar', home_path, {:method => "get"}  %>
        </td>
      </tr>

      </table>
    </div>
</div>
<br/>
</div>


