<%if  current_user.has_role?('admin') 	 or   current_user.has_role?('SEDUC')  %>
   <%@professors = Professor.find(:all,:select => 'distinct(professors.nome), professors.id',  :joins => "INNER JOIN  atribuicaos   ON  professors.id = atribuicaos.professor_id INNER JOIN  classes  ON  classes.id = atribuicaos.classe_id  INNER JOIN  unidades  ON  unidades.id = classes.unidade_id INNER JOIN  tipos  ON  tipos.id = unidades.tipo_id ", :conditions =>['professors.desligado=  0 and classes.classe_ano_letivo = ? and (tipos.id = 1 or tipos.id = 4  or tipos.id = 7)',Time.now.year ],:order => 'nome ASC')%>
<%else if     current_user.has_role?('pedagogo') or   current_user.has_role?('direcao_fundamental')  or   current_user.has_role?('supervisao')%>
        <%@professors = Professor.find(:all,:select => 'distinct(professors.nome), professors.id',  :joins => "INNER JOIN  atividades   ON  professors.id = atividades.professor_id  INNER JOIN  atribuicaos   ON  professors.id = atribuicaos.professor_id INNER JOIN  classes  ON  classes.id = atribuicaos.classe_id  INNER JOIN  unidades  ON  unidades.id = classes.unidade_id INNER JOIN  tipos  ON  tipos.id = unidades.tipo_id ", :conditions =>['professors.desligado=  0 and classes.classe_ano_letivo = ? and (tipos.id = 1 or tipos.id = 4  or tipos.id = 7)AND  atividades.unidade_id =?',Time.now.year,  current_user.unidade_id ],:order => 'professors.nome ASC,  atividades.inicio DESC')%>


       <%else%>
          <%@professors = Professor.find(:all,:select => 'distinct(professors.nome), professors.id',  :joins => "INNER JOIN  atividades   ON  professors.id = atividades.professor_id INNER JOIN  atribuicaos   ON  professors.id = atribuicaos.professor_id INNER JOIN  classes  ON  classes.id = atribuicaos.classe_id  INNER JOIN  unidades  ON  unidades.id = classes.unidade_id INNER JOIN  tipos  ON  tipos.id = unidades.tipo_id ", :conditions =>['professors.desligado=  0 and classes.classe_ano_letivo = ? and (tipos.id = 1 or tipos.id = 4  or tipos.id = 7)AND  atividades.professor_id =?',Time.now.year,  current_user.professor_id ],:order => 'professors.nome ASC,  atividades.inicio DESC')%>

       <%end%>
<%end%>

<%if  current_user.has_role?('admin') or   current_user.has_role?('SEDUC')  or   current_user.has_role?('supervisao')%>
    <%@classe_ano = Classe.find(:all, :joins => "INNER JOIN  unidades  ON  unidades.id = classes.unidade_id INNER JOIN  atividades ON classes.id = atividades.classe_id",:select => "distinct(classes.id), CONCAT(classes.classe_classe, ' - ',unidades.nome) AS classe_unidade", :conditions => ['classes.classe_ano_letivo = ?' , Time.now.year ], :order => 'classes.classe_classe ASC')%>
<%else if     current_user.has_role?('pedagogo') or   current_user.has_role?('direcao_fundamental')  or   current_user.has_role?('supervisao')%>
        <%@classe_ano = Classe.find(:all, :joins => "INNER JOIN  unidades  ON  unidades.id = classes.unidade_id INNER JOIN  atividades ON classes.id = atividades.classe_id",:select => "distinct(classes.id), CONCAT(classes.classe_classe, ' - ',unidades.nome) AS classe_unidade", :conditions => ['classes.classe_ano_letivo = ? AND  atividades.unidade_id =?' , Time.now.year, current_user.unidade_id ], :order => 'classes.classe_classe ASC, atividades.inicio DESC')%>

       <%else%>
          <%@classe_ano = Classe.find(:all, :joins => "INNER JOIN  unidades  ON  unidades.id = classes.unidade_id INNER JOIN  atividades ON classes.id = atividades.classe_id",:select => "distinct(classes.id), CONCAT(classes.classe_classe, ' - ',unidades.nome) AS classe_unidade", :conditions => ['classes.classe_ano_letivo = ? AND  atividades.professor_id =?' , Time.now.year, current_user.professor_id ], :order => 'classes.classe_classe ASC,  atividades.inicio DESC')%>
       <%end%>
<%end%>

<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca3">
        Professor: </b><%= collection_select :professor,:id, @professors, :id, :nome, :include_blank => ' -- Selecionar -- '  %></font>



         <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
     </td>
   </tr>
  </table>

