<div class="fields">
 <table>
   <tr>
    <td id="test"><%= select_tag("todos", options_for_select(@alunos.collect { |ff| [ff.aluno_nome, ff.id] }, @classe.alunos.collect { |fs| fs.id }), {:multiple=>true, :id => "todos", :size => 4, :class => "lista_alunos"}) %></td>
    <td>
      <a class="botao" href="#" id="add">&gt;&gt;</a>
      <br/><br/><br/>
      <a class="botao" href="#" id="remove">&lt;&lt;</a>
    </td>

    <%if @alunos_selecionados.present?%> 
     <td colspan="2"><%= select_tag("classe[aluno_ids][]", options_for_select(@alunos_selecionados.collect { |ff| [truncate(ff.aluno_nome, :length => 100, :omission => "..."), ff.id] }, @classe.alunos.collect { |fs| fs.id }), {:multiple=>true, :id => "classe_aluno_ids", :size => 4, :class => "lista_alunos"}) %></td>
     <%else%>
     <td colspan="2"><select multiple="multiple" name="classe[aluno_ids][]" id="classe_aluno_ids" class="lista_alunos"></select></td>
    <%end%> 
  </tr>
  </table>
</div>