
<div id="interno1">
<% title "PROFESSOR/RESPONSÃVEL" %>
<div class ="tabs">


 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b> CLASSE</b></font></legend>
         <table width="100%">
           <tr bgcolor="#F5F5F5"  width="100%">

             <td valign="top">
               <table  bgcolor="#DCDCDC" width="100%">
                 <tr bgcolor="#F5F5F5">
                  <td align="center"><br/><b> ALUNO EXCLUIDO</b><br/><br/></td>
   </td>
  </tr>
 </table>

    <table>
         <tr>
           <td width="4%"align="left"><%= button_to 'Nova Consulta' ,consulta_classe_path, :title => "Nova Consulta" %></td>
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
    </table>


</div>
<br/>
</div>
