                    <%@alunos_todos= Aluno.find(:all,:select => 'distinct(alunos.id), aluno_nome, aluno_nascimento',:joins => "INNER JOIN matriculas ON alunos.id=matriculas.aluno_id INNER JOIN classes ON classes.id=matriculas.classe_id", :conditions =>['classes.unidade_id=? AND classes.classe_classe!="EJA" AND matriculas.ano_letivo<? AND matriculas.unidade_id = ? ', current_user.unidade_id, Time.now.year, current_user.unidade_id], :order => 'aluno_nome ASC') %>
                    <%@alunos_atuais = Aluno.find(:all,:select => 'distinct(alunos.id), aluno_nome, aluno_nascimento',:joins => "INNER JOIN matriculas ON alunos.id=matriculas.aluno_id INNER JOIN classes ON classes.id=matriculas.classe_id", :conditions =>['classes.unidade_id=? AND classes.classe_classe!="EJA" AND matriculas.ano_letivo=? AND alunos.unidade_id = ? ', current_user.unidade_id, Time.now.year, current_user.unidade_id], :order => 'aluno_nome ASC') %>
                    <%@alunos_nome = @alunos_todos - @alunos_atuais %>
                    <table width="100%" align="center" bgcolor="#DCDCDC" >
                        <tr>
                            <td colspan="2"align="right"><font size="2"> <b>Ex-Aluno:</b></font>
                                <%= select_tag :aluno_id_ex, options_for_select(@alunos_nome.collect { |ff| [(ff.aluno_nome+' | '+ff.aluno_nascimento.strftime("%d/%m/%Y")), ff.id] }.insert(0, '--Selecionar--')) %>
                                                            </td>
                            <td align="right"> <%= submit_tag "Visualizar", :class => "btn_filtrar" %></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            </td>
                        </tr>
                    </table>
