
        <table>
            <tr>
              <td> <font color ="red" size ="4"><b><u>ATENÇÃO:</u> NÂO CONSTA NOTAS LANÇADAS PARA ESTE ALUNO.<br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <font></td>
            </tr>

         </table>

    