            <tr>
               <td valign="top"><b>Alunos: </b></td>
               <td>
                       <%form_tag alunos_matricula_matriculas_path, :method => :get do %>
                       <%#form_tag selected_print_chamados_path, :method => :get do %>
                               <% for aluno in @alunos_matricula %>
                        <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: black "bgcolor="#F5F5F5">
                                    <tr>
                                             <td width ="1px" align="center"><%= check_box_tag "aluno_ids[]",aluno.id %></td>
                                             <td><%=h aluno.aluno_nome_dtn %></td>

                                   </tr>
                                 </table>
                              <%end %>
                            <table>
                                <tr>
                                   <td colspan="2" ><%= submit_tag "Confirmar", :class => "btn_filtrar" %>
                                   </td>
                               </tr>
                           </table>
                        <%end%>
                </td>
           </tr>