<table width="100%" >
     <% for matricula in @matricula %>

       <tr bgcolor="#F5F5F5">
           <td align="left" width ="22%"><b>Classe:</b></td>
           <td align="left" width ="10%">  <%=h matricula.classe.classe_classe%></td>
           <td align="left"width ="12%"><b>Horário:</b></td>
           <td align="left">  <%=h matricula.classe.horario %></td>
      </tr>
     <%end%>
</table>