<table width="100%">
           <tr>
            <td width ="15%"><b>Aluno: </b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <%= collection_select  :matricula, :aluno_id, @alunos, :id, :aluno_nome_dtn, :include_blank => ' --- Selecione ---'  %></td>
          </tr>

</table>




