<div id="interno3">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MATRICULA ALUNO</strong></font><br/>
 </div>
      <div class="tabs">
        <%  session[:saida] = 1 %>

        <fieldset><legend><font size=4>Matrícula Aluno</font></legend>
        <table>
            <tr>
              <td ><font color ="red" size ="4"><b><u>ATENÇÃO:</u> Este aluno JÁ está matriculado.</b>        <font></td>
            </tr>

         </table>
         </fieldset>
        <table width="100%">
           <tr>
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>