<div id="interno3">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MATRICULA ALUNO</strong></font><br/>
 </div>
      <div class="tabs">
        <%  session[:saida] = 1 %>

        <fieldset><legend><font size=4>Matrícula Aluno</font></legend>
        <table>
            <tr>
              <td ><font color ="red" size ="4"><b><u>ATENÇÃO:</u> Antes de matricular os alunos na classe, certifique-se que os TODOS os professores já foram atribuidos às classes.
                    <br/> NÃO MATRICULAR OS ALUNOS SE OS PROFESSORES NÃO ESTIVEREM ATRIBUIDOS ÀS CLASSES.</b>        <font></td>
            </tr>

         </table>
         </fieldset>
        <table width="100%">
           <tr>
              

             <td width =" 10%"><%= button_to 'MATRICULAR', new_matricula_path %> </td> <td><font color ="blue" size ="3"> <b> <= Clique aqui para continuar .... </b>        <font></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>