<div id="interno3">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MATRICULA ALUNO</strong></font><br/>
 </div>
      <div class="tabs">


        <fieldset><legend><font size=4>Matrícula Aluno</font></legend>
        <table>
            <tr>
              <td ><font color ="red" size ="4"><b><u>ATENÇÃO:</u> Antes de matricular os alunos na classe, certifique-se que TODOS os professores/responsáveis já foram atribuidos às classes.
                    <br/> NÃO MATRICULAR OS ALUNOS ANTES QUE TODOS OS PROFESSORES NÃO ESTEJAM ATRIBUIDOS ÀS CLASSES.</b>        <font></td>
            </tr>

         </table>
         </fieldset>
        <table width="100%">
           <tr>
              
             
             <td width =" 10%"><%= button_to 'MATRICULAR (1 aluno)', new_matricula_path %> </td>
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
          <table width="100%">
           <tr>

               <td colspan="3"> <font size="2" color="blue"> <b><u>OBSERVAÇÃO:</u> Quanto tratar-se de somente uma matrícula (transferência ou remanejamento) utilize o botão
                            <u>MATRICULAR (1 aluno) </u>. Quanto tratar-se de matricular vários alunos na mesma classe utilize o botão <u>MATRICULAR (Vários alunos) </u>.</b>
                           </td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>