<div id="interno3">
<% title "TRANSFERENCIA" %>
<div class ="tabs">


 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b>MATRICULA</b></font></legend>
         <table width="100%">
           <tr bgcolor="#F5F5F5"  width="100%">
              <td align="left" width ="15%"><b> OK:</b></td>

           </tr>
          
        </table>
           </td>
       </tr>
</table>
  




</div>
<br/>
</div>


