<div id="interno1">
<% title "TRASNFERENCIAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>TRANSFERÊNCIAS SAÍDAS</strong></font><br/>
 </div>
    <div class="tabs">
          <div class="tabs">

         <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td>
              <a href="#" class="SEDUC_filtro"><%= radio_button_tag(:type_of, "1") %></a>Para Unidades SEDUC
              <a href="#" class="OUTRAS_filtro"><%= radio_button_tag(:type_of, "2") %></a>Para OUTRAS Unidades
            </td>
         </tr>

      </table>
      <fieldset>
        <table width="100%">

         <tr>
           <td><div class="consulta_SEDUC" style="display:none"> <%= render "saida_seduc" %> </div>
               <div class="consulta_OUTRAS" style="display:none"> <%= render "saida_outras" %> </div>
           </td>
         </tr>
       <tr>
         <td></td>
         <td><b><div id='teste'></b></td>

       </tr>
        </table>
       <br/>

 </div>



</div>

<br/>
</div>

<br/>
<br/>








