<div id="interno2">
<% title "RECUPERA" %>
<div class ="tabs">

 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <font size="5"><strong>ESQUECEU A SENHA?</strong></font></br>
     </td>
   </tr>
<%  session[:mais_email] = 1 %>
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3></font></legend>
         <table width="100%">
            <tr bgcolor="#F5F5F5">
               <td align="center">
                <br/><br/> <font size ="3">
                O e_mail <b><%= session[:email]%> </b> possui vários usuários, selelcione o usuário que deseja alterar a senha<b>

                    <br/>
                    
                 </td>
            </tr>
            <tr bgcolor="#F5F5F5">
       <% form_tag url_for(:action => 'create') do %>
                 <td  widht="10%" align="center"><font size="2"><b>Usuário:</b></font>
             
                      <%= select_tag :user_id, options_for_select(@user_email.collect { |ff| [ ff.login  + ' - '+ ff.unidade.nome, ff.id]  }.insert(0, '--Selecionar--')) %>

                    <%= submit_tag 'Enviar' %>
                                    <br/>
                    <font size="3" style="color:blue">Logo após <b>Selecionar o Usário - Unidade</b>, procure a mensagem na <b>CAIXA DE ENTRADA</b>, <b>LIXO ELETRÔNICO</b> ou <b>SPAM</b><br/>
                                                     do e-mail informado</b> para localizar a mensagem e continuar o procedimento.</font>
                      <br/><br/>
                 </td>


        <% end %>

                </tr>
            <tr>
<!-- <td align="center"><font size="4" style="color:red"><b><%#=flash[:notice2]%></b></font></td> -->
            </tr>
         </table>
       </fieldset>
     </td>
  </tr>
  <tr>
    <td>
     <fieldset>
       <table>
         <tr>
           <td align="left"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
       </table>
     </fieldset>
    </td>
  </tr>
 </table>





