<div id="interno2">
<% title "RECUPERA" %>
<div class ="tabs">

 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <font size="5"><strong>ESQUECEU A SENHA?</strong></font></br>
     </td>
   </tr>
    
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3></font></legend>
         <table width="100%">
            <tr bgcolor="#F5F5F5">
               <td align="center">
                <br/><br/>
                    <% form_tag url_for(:action => 'create') do %>
                      <b>Digite e-mail cadastrado no sistema</b>
                      <%= text_field_tag :email, "", :size => 50 %>
                     <%= submit_tag 'Enviar' %>
                    <% end %>
                    <br/>
                    <font size="3" style="color:blue">Logo após <b>Enviar</b>, procure a mensagem na <b>CAIXA DE ENTRADA</b>, <b>LIXO ELETRÔNICO</b> ou <b>SPAM</b><br/>
                                                     do e-mail informado</b> para localizar a mensagem e continuar o procedimento.</font>
                      <br/><br/>
                 </td>
            </tr>
            <tr>
<!-- <td align="center"><font size="4" style="color:red"><b><%#=flash[:notice2]%></b></font></td> -->
            </tr>
         </table>
       </fieldset>
     </td>
  </tr>
  <tr>
    <td>
     <fieldset>
       <table>
         <tr>
           <td align="left"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
       </table>
     </fieldset>
    </td>
  </tr>
 </table>


</div>
<br/>
</div>


