<table width="100%" align="center" >
   <tr>

     <td colspan="2"align="right"><font size="2"> <b class="label_busca3">Obreiro:</b></font>
        <%= collection_select  :relatorio, :obreiro_id, @obreiros, :id, :nome, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca2"  %>
        <font size="2"> <b class="label_busca3">Mês:</b></font>
        <%= select_tag :mes_o ,options_for_select(%w(--Selecionar-- JANEIRO FEVEREIRO MARÇO ABRIL MAIO JUNHO JULHO AGOSTO SETEMBRO OUTUBRO NOVEMBRO DEZEMBRO), params[:mes]), :include_blank => true%></b></font>
        <font size="2"><b class="label_busca3">Ano:</b></font>

        <%= select_tag :ano_o, options_for_select(@rel_ano.collect { |ff| [ff.ano, ff.ano] }.insert(0, '--Selecionar--')) %>

         <%= submit_tag "Visualizar", :class => "btn_filtrar" %>
     </td>


   </tr>
  </table>
