<table width="100%">
           <tr>
             <td width ="15%" align="right"><b>Classe: </b>&nbsp
             <%= collection_select :classe, :id, @classe_ano, :id, :classe_classe, :include_blank => ' -- Selecione -- ' %></td>
          </tr>

</table>




