<% form_for @disciplina, :html => { :multipart => true } do |f| %>
 <%= f.error_messages %>
  <font  size="2">
    <br/>
    <fieldset><legend><font  size=3>Disciplina</font></legend>
      <table width="100%" align="center"  bgcolor="#F5F5F5" >
        <tr> <td></td> </tr>
        <tr>
          <td><b>Disciplina: </b><%= f.text_field :disciplina, :size => 30 %></br></td>
        </tr>
        <tr> <td></td> </tr>
      </table>


       <table width="100%" >
         <tr> <td></td> </tr>
         <tr>
            <td width="4%"align="left"><%= f.submit 'Salvar' %></td>
<%end%>
            <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
         </tr>
       </table>
      </fieldset>
  </font>
