
<% title "MATRICULAS".singularize %>
<div class="tabs">

      <div class="tabs">


        <fieldset><legend><font size=4>Atribuição /Notas Aluno</font></legend>

        <table>
            <tr>
              <td> <font color ="red" size ="4"><b><u>ATENÇÃO:</u> FAVOR VERIFICAR DADOS SOLECIONADOS,<br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      ESTE PROFESSOR OU RESPONSÁVEL NÃO ESTA ATRIBUIDO PARA ESTA DISCIPLINA NESTA SALA. <font></td>
            </tr>

         </table>

         </fieldset>


    </div>
</div>
<br/>
