<p>
  <b>Classe:</b>
  <%=h @classes_aluno.classe_id %>
</p>

<p>
  <b>Aluno:</b>
  <%=h @classes_aluno.aluno_id %>
</p>


<%= link_to 'Edit', edit_classes_aluno_path(@classes_aluno) %> |
<%= link_to 'Back', classes_alunos_path %>