<div id="interno2">
<% title "SAUDES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CADASTRO DE SAÚDE</strong></font><br/>
 </div>
      <div class="tabs">
      <%= render :partial => 'form' %>
    </div>
</div>
<br/>
</div>
