<div id="interno2">
<% title "SAUDES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
<<<<<<< HEAD:app/views/saudes/new.html.erb
     <font size="3"><strong>CADASTRO DE SAÚDE</strong></font><br/>
=======
     <font size="3"><strong>CADASTRO DE SOLICITAÇÃO DE VAGA</strong></font><br/>
>>>>>>> 0405771af78a527871abe32b96e349291f326863:app/views/criancas/new.html.erb
 </div>
      <div class="tabs">
      <%= render :partial => 'form' %>
    </div>
</div>
<br/>
</div>

