      <fieldset>
          <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td align="right" width=" 30%">
            </td>
            <td width="60%" align="left">
            </td>

          <td align="right">
            <%= submit_tag "Visualizar", :class => "btn_filtrar" %>
          </td>
        </tr>

       </table>
       </fieldset>