<div id="interno2">
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>RELATÓRIO CLASSES / MATRICULADOS  - <%= session[:ano]%> </strong></font><br/>
   </div>
  <div class="tabs">
 <fieldset>
     <%t=0%>
   <legend><font size=2><b>CLASSES  <%= session[:ano]%></b></font></legend>
   <table bgcolor="#DCDCDC" width="50%"align="center">
         <tr bgcolor="#DCDCDC" >
            <td >
              <table bgcolor="#DCDCDC" width="100%"align="center" >
                    <tr bgcolor="#F5F5F5" >
                        <th>
                            <font size="3" color=" red"> DADOS NÃO CADASTRADOS
                        </th>
                    </tr>
               </table>
            </td>
         </tr>

   </table>
 </fieldset>

 </div>
 </div>
  <br/>
</div>




