<table width="100%">
           <tr>
             <td width ="15%" align="right"><b>Unidade: </b>&nbsp
              <%= select_tag :unidade, options_for_select(@unidades_infantil.collect { |ff| [ff.nome, ff.id] }) %> &nbsp&nbsp</td>

          </tr>

</table>




