
<table width="100%" >
           <tr>
             <td width ="15%" align="right"><b>Unidade: </b>&nbsp
              <%= select_tag :unidadeF, options_for_select(@unidades_fundamental.collect { |ff| [ff.nome, ff.id] }) %> &nbsp&nbsp</td>
          </tr>
</table>




