<%  if   current_user.has_role?('pedagogo')  or   current_user.has_role?('direcao_infantil') or   current_user.has_role?('direcao_fundamental')  or   current_user.has_role?('supervisao') or current_user.has_role?('secretaria_infantil') or current_user.has_role?('secretaria_fundamental')%>
    <%  @classe_ano = Classe.find(:all, :joins => "INNER JOIN  unidades  ON  unidades.id = classes.unidade_id",:select => "classes.id, CONCAT(classes.classe_classe, ' - ',unidades.nome) AS classe_unidade", :conditions => ['classes.classe_ano_letivo = ? and (classes.unidade_id = 52 or classes.unidade_id=?)' , Time.now.year , current_user.unidade_id], :order => 'classes.classe_classe ASC')%>
<%end%>

<table width="100%"   >
   <tr>
     <td  widht="10%" align="right"><font size="2"><b>Classe:</b></font>
          <%= select_tag :classe_id, options_for_select(@classe_ano.collect { |ff| [ff.classe_unidade, ff.id] }.insert(0, '--Selecionar--')) %>
                            <%= observe_field 'classe_id',
                          :with => :classe_id,
                          :url => { :action => 'classe_disciplina' },
                          :update => "classe_disciplina" %>
    </td>
     <td  widht="60%" align="right"><div id="classe_disciplina"> <b>Disciplina:</b><font color="red">&nbsp&nbsp&nbsp&nbsp<b></u>&nbsp Selecionar  primeiro a classe </b></font> </div></td>

          <td> <%= submit_tag "Visualizar", :class => "btn_filtrar" %>

     </td>



   </tr>
  </table>

