<div id="interno2">

<% title "MATRICULAS".singularize %>
<div class="tabs">

      <div class="tabs">


        <fieldset><legend><font size=4>Matrícula Aluno</font></legend>

        <table>
            <tr>
              <td  align="center"><font color ="red" size ="4"><b>
                    REGISTRO EXCLUIDO</b></td>
            </tr>

         </table>

         </fieldset>
        <table width="100%">
           <tr>
              

             
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>
