<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca1">Selecionar Funcionário:</b></font>
        <%= collection_select :funcionario, :funcionario_id, @funcionarios, :id, :nome, :include_blank => ' -- Selecionar -- ', :class=> "txt_busca1"  %>
          <%= observe_field 'funcionario_funcionario_id',
               :update => "familiares",
               :url    => { :action => 'lista_familiares_nome' },
               :with   => 'funcionario_funcionario_id' %>


     </td>
   </tr>
  </table>

