<div id="interno2">
<% title "FAMILIARES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CADASTRO DE FAMILIARES</strong></font><br/>
 </div>
      <div class="tabs">
        <%= render :partial => 'form' %>
    </div>
</div>
<br/>
</div>