<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca2">Selecionar Empresa:</b></font>
        <%= collection_select :unidade, :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecionar -- ', :class=> "txt_busca2"  %>

<%= observe_field 'unidade_unidade_id',
               :update => "funcionarios",
               :url    => { :action => 'lista_unidade_nome' },
               :with   => 'unidade_unidade_id' %>
         
     </td>
   </tr>
  </table>

