<%if @familiares.present?%>
<table border="1" frame="box" rules="all" width="100%">
  <th width="500">Nome</th>
  <th width="200">Relação</th>
  <th width="10" colspan="2"></th>

  <%@familiares.each do |fam|%>
    <tr>

      <td><% check_box_tag "funcionario[familiare_ids][]", fam.id,true %><%= fam.nome %></td>
      <td><%= fam.parentesco %></td>
      <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), fam, :title => "Exibir Familiar" %></td>
      <td align="center"><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "15x15"), fam, :confirm => 'Confirma?', :method => :delete, :title => "Excluir Familiar" %></td>
   </tr>

  <%end%>
</table>
<%else%>
<table border="1" frame="box" rules="all" width="100%">
  <th width="400">Nomes</th>
  <th width="200">Relação</th>
  <th width="20"></th>
  <tr>
      <td></td>
      <td></td>
      <td></td>
   </tr>

</table>

<%end%>
